<div>
  <button (click)="startCamera()">📷 فعال‌سازی دوربین</button>
</div>

<video
  #video
  autoplay
  playsinline
  style="width: 100%; max-width: 300px; margin: 1rem 0"
></video>

@if (streamStarted) {

<button (click)="captureAndUpload()">📸 گرفتن و ارسال عکس</button>
} @if (uploadedPhotos.length > 0) {

<div style="margin-top: 20px">
  <div style="display: flex; flex-wrap: wrap; gap: 10px">
    @for (photo of uploadedPhotos; track $index) {

    <div>
      <img
        [src]="photo.url"
        style="width: 100px; height: auto; border: 1px solid #ccc"
      />
      <button
        (click)="deletePhoto(photo.id)"
        style="display: block; margin-top: 5px"
      >
        حذف
      </button>
    </div>
    }
  </div>
</div>
}
